--swiftversion 5.10
--indent 4
--indentcase false
--trimwhitespace always
--voidtype void
--nospaceoperators ..<,...
--self remove
--importgrouping testable-last
--semicolons never
--commas always
--trailingclosures
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 100
--exclude .build,DerivedData
